@font-face {
  font-family: "Cal Sans";
  src: url("/fonts/calsans-semibold-webfont.woff2") format("woff2"),
    url("/fonts/calsans-semibold-webfont.woff") format("woff");
}
@font-face {
  font-family: "AllianceNo1-Light";
  src: url("/fonts/AllianceNo1Light.woff2") format("woff2"), url("/fonts/AllianceNo1Light.woff") format("woff");
}

@font-face {
  font-family: "SF-Display-Light";
  src: url("/fonts/SFProDisplayLight.woff2") format("woff2"), url("/fonts/SFProDisplayLight") format("woff");
}
