:root {
  --primary_highlight: rgb(255, 172, 20);
  --primary_font: "Cal Sans";
  --secondary_font: "AllianceNo1-Light";
  --background: #fff;
  --secondary_background: #fffaf2;
  --primary_text: rgb(43, 43, 43);
  --secondary_text: #515151;
}
* {
  box-sizing: border-box;
}

html {
  font-synthesis: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  color: var(--primary_text);
  font-family: var(--primary_font);
  overscroll-behavior-y: none;
  overscroll-behavior: none;
  transition: all 0.5s linear;
  overflow-x: hidden;
}

p {
  font-family: var(--secondary_font);
  color: var(--secondary_text);
  font-size: 2.3vh !important;
  line-height: 3.7vh !important;

  @media screen and (max-width: 1300px) {
    font-size: 17px !important;
    line-height: 20px !important;
  }
}

h1 {
  font-size: 50px;
}

li {
  font-family: var(--secondary_font);
  color: var(--secondary_text);
  font-size: 2vh !important;
  line-height: 3.4vh !important;

  @media screen and (max-width: 1300px) {
    font-size: 17px !important;
    line-height: 20px !important;
  }
}
